.fill{
    position: relative;
    height: 6px;
    background-color:royalblue;
    border-radius: 20px;
}
#progress-div {
    width:162px;
    background-color: rgb(243, 232, 232);
}
.slider{
    background: linear-gradient(to right, black 0px, black 400px);
    border: solid 1px #82CFD0;
    border-radius: 8px;
    height: 7px;
    width: 400px;
    outline: none;
    /* transition: background 450ms ease-in; */
    -webkit-appearance: none;   
}
.fa {
    color: crimson;
    width: 100px;
    height: 100px;
}
.video-wrapper {
img {
    width: 30%;
    margin: auto;
    display: block;
    margin-bottom: 10px;
  }
    display: block;
    width: 500px;
    height: 500px;
}

.playpause {
    background-image:url(http://png-4.findicons.com/files/icons/2315/default_icon/256/media_play_pause_resume.png);
    background-repeat:no-repeat;
    width:50px;
    height:50px;
    position:absolute;
    left:0%;
    right:0%;
    top:0%;
    bottom:0%;
    margin:auto;
    background-size:contain;
    background-position: center;
}
