.fill{
    position: relative;
    height: 6px;
    background-color:royalblue;
    border-radius: 20px;
}
#progress-div {
    width:162px;
    background-color: rgb(243, 232, 232);
}
.slider{
    background: linear-gradient(to right, black 0px, black 400px);
    border: solid 1px #82CFD0;
    border-radius: 8px;
    height: 7px;
    width: 400px;
    outline: none;
    /* transition: background 450ms ease-in; */
    -webkit-appearance: none;   
}

 